<div class="contenido">
<h2>Mensaje del componente padre: </h2>
  <h3>{{mensajeHijo}}</h3>
  <i>{{mensajeHijo2}} </i>
  <p>{{numero}} </p>
  <s>{{mensajeHijo3}}</s>
  <h2>{{mensajeHijo4}}</h2>
</div>
